Repository awsgcr/aws-infra: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-run-unit-test, presubmit-run-infra-test, presubmit-source-code-scan, presubmit-base-image-scan, postsubmit-aws-s3-upload

presubmit-run-unit-test:
  decorate: true
  spec:
    containers:
    - image: golang:latest
      command:
      - /bin/bash
      args:
      - -c
      - 'cd app/gitops-prow-demo
  
        go test
  
        '

presubmit-run-infra-test:
  decorate: true
  spec:
    containers:
    - command:
      - echo
      - Prow Rocks!
      env:
      - name: AWS_REGION
        value: ap-northeast-1
      image: debian:buster
      imagePullPolicy: Always

presubmit-source-code-scan:
  decorate: true
  spec:
    containers:
    - command:
      - echo
      - Use 821278736125.dkr.ecr.ap-northeast-1.amazonaws.com/aws-infra/prow-ci:20240117 base image
      env:
      - name: AWS_REGION
        value: ap-northeast-1
  ...

presubmit-base-image-scan:
  decorate: true
  spec:
    containers:
    - command:
      - echo
      - Use public.ecr.aws/aws-cli/aws-cli base image
      env:
      - name: AWS_REGION
        value: ap-northeast-1
      image: public.ecr.aws/aws-cli/aws-cli
      imagePullPolicy: Always

postsubmit-aws-s3-upload:
  decorate: true
  labels:
    preset-aws-shared-conf: 'true'
    git: 'true'
  spec:
    serviceAccountName: prowjob-aws-s3-upload-pipeline-sa
    containers:
    - image: 821278736125.dkr.ecr.ap-northeast-1.amazonaws.com/aws-infra/prow-ci:20240117
      command:
      - /bin/bash
      args:
      - -c
  ...

update prowjob iam sa (#120)
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
  prow/jobs/shared/prowjob-aws-s3-upload-pipeline.yaml
Due: none

update iam policy
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Due: postsubmit-aws-s3-upload

add source code
  app/gitops-prow-demo/main.go
Due: presubmit-run-unit-test, presubmit-run-infra-test, presubmit-source-code-scan, presubmit-base-image-scan

update iam policy (#121)
  app/gitops-prow-demo/main.go
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Due: presubmit-run-unit-test, presubmit-run-infra-test, presubmit-source-code-scan, presubmit-base-image-scan, postsubmit-aws-s3-upload

update iam policy, and prowjob
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Due: none

update iam policy, and prowjob
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Due: none

update iam policy, and prowjob (#122)
  prow/config/aws-config/project1-aws-config
  prow/config/aws-config/shared-aws-config
  prow/jobs/shared/prowjob-aws-iam-sa-oidc-pipeline.yaml
Due: none

update iam policy (#123)
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Due: postsubmit-aws-s3-upload

update kube-cluster-config
  prow/config.yaml
  prow/config/k8s-deploy.yaml
  prow/plugins.yaml
Due: none

kube-config all
  prow/config/kube-config/all
Due: none

trigger kube-config all
  prow/config/kube-config/all
Due: none

trigger iam-policy.json
  eks/project1/prod/gitops-prow/aws/test-pods/app-shared-default/iam-policy.json
Due: postsubmit-aws-s3-upload

update pr-files
  prow/scripts/for-file
Due: none

update pr-files (#128)
  prow/scripts/for-file
Due: none

update config.yaml
  prow/config.yaml
Due: none

update config.yaml (#130)
  prow/config.yaml
Due: none

update go project source code
  app/gitops-prow-demo/main.go
Due: presubmit-run-unit-test, presubmit-run-infra-test, presubmit-source-code-scan, presubmit-base-image-scan

Path conditions:
  presubmit-run-unit-test: any of: ^app/gitops-prow-demo/main.go$
  presubmit-run-infra-test: any of: ^app/gitops-prow-demo/main.go$
  presubmit-source-code-scan: any of: ^app/gitops-prow-demo/main.go$
  presubmit-base-image-scan: any of: ^app/gitops-prow-demo/main.go$
  postsubmit-aws-s3-upload: any of: ^eks/(project1|project2)/[^/]+/[^/]+/aws/[^/]+/[^/]+/iam-policy\.json$
